@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings:
    'clig' off,
    'liga' off;
}

body {
  /* background-color: theme(colors.darkBlue); */
  background-color: greenyellow;
  color: theme(colors.pureWhite);
  line-height: normal;
}
